<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
	  <profiles>
		<profile>
			<id>build.repos</id>
			<repositories>
				<repository>
				<id>fusesource.m2</id>
					<name>FuseSource Community Release Repository</name>
					<url>http://nexus.default.svc.cluster.local:8081/repository/fusesource-ga/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<repository>
				<id>fusesource.ea</id>
					<name>FuseSource Community Early Access Release Repository</name>
					<url>http://nexus.default.svc.cluster.local:8081/repository/fusesource-ea/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<repository>
				<id>redhat.ga</id>
					<name>Red Hat General Availability Repository</name>
					<url>http://nexus.default.svc.cluster.local:8081/repository/redhat-ga/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<repository>
				<id>redhat.ea</id>
					<name>Red Hat General Availability Repository</name>
					<url>http://nexus.default.svc.cluster.local:8081/repository/redhat-ea/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<repository>
				<id>maven.central</id>
					<name>Maven Central Repository</name>
					<url>http://nexus.default.svc.cluster.local:8081/repository/maven-central/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
				<id>fusesource.m2</id>
					<name>FuseSource Community Release Repository</name>
					<url>http://nexus.default.svc.cluster.local:8081/repository/fusesource-ga/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
				<pluginRepository>
				<id>fusesource.ea</id>
					<name>FuseSource Community Early Access Release Repository</name>
					<url>http://nexus.default.svc.cluster.local:8081/repository/fusesource-ea/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
				<pluginRepository>
				<id>redhat.ga</id>
					<name>Red Hat General Availability Repository</name>
					<url>http://nexus.default.svc.cluster.local:8081/repository/redhat-ga/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
				<pluginRepository>
				<id>redhat.ga</id>
					<name>Red Hat General Availability Repository</name>
					<url>http://nexus.default.svc.cluster.local:8081/repository/redhat-ea/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
				<pluginRepository>
				<id>maven.central</id>
					<name>Maven Central Repository</name>
					<url>http://nexus.default.svc.cluster.local:8081/repository/maven-central/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>build.repos</activeProfile>
	</activeProfiles>
</settings>


