<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
	  <profiles>
		<profile>
			<id>build.repos</id>
			<repositories>
				<repository>
					<id>openshift.repo</id>
					<name>OpenShift Nexus Repository</name>
					<url>http://docker-nexus3.sdlc.svc.cluster.local:8081/repository/redhat/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<!--
				<repository>
					<id>rh.group.repo</id>
					<name>Local Nexus Repository</name>
					<url>http://10.1.2.1:8081/repository/red-hat/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<repository>
				<id>fusesource.m2</id>
					<name>FuseSource Community Release Repository</name>
					<url>http://10.1.2.1:8081/repository/fuse-source-ga/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<repository>
				<id>fusesource.ea</id>
					<name>FuseSource Community Early Access Release Repository</name>
					<url>http://10.1.2.1:8081/repository/fuse-source-ea/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<repository>
				<id>redhat.ga</id>
					<name>Red Hat General Availability Repository</name>
					<url>http://10.1.2.1:8081/repository/red-hat-ga/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<repository>
				<id>maven.central</id>
					<name>Maven Central Repository</name>
					<url>http://10.1.2.1:8081/repository/maven-central/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<repository>
					<id>fusesource.m2</id>
					<name>FuseSource Community Release Repository</name>
					<url>https://repo.fusesource.com/nexus/content/groups/public</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<repository>
					<id>fusesource.ea</id>
					<name>FuseSource Community Early Access Release Repository</name>
					<url>https://repo.fusesource.com/nexus/content/groups/ea</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				<repository>
					<id>redhat.ga</id>
					<name>Red Hat General Availability Repository</name>
					<url>https://maven.repository.redhat.com/ga</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</repository>
				-->
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>openshift.repo</id>
					<name>OpenShift Nexus Repository</name>
					<url>http://docker-nexus3.sdlc.svc.cluster.local:8081/repository/redhat/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
			<!--
				<pluginRepository>
					<id>local.repo</id>
					<name>Local Nexus Repository</name>
					<url>http://10.1.2.1:8081/repository/red-hat/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
				<pluginRepository>
				<id>fusesource.m2</id>
					<name>FuseSource Community Release Repository</name>
					<url>http://10.1.2.1:8081/repository/fuse-source-ga/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
				<pluginRepository>
				<id>fusesource.ea</id>
					<name>FuseSource Community Early Access Release Repository</name>
					<url>http://10.1.2.1:8081/repository/fuse-source-ea/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
				<pluginRepository>
				<id>redhat.ga</id>
					<name>Red Hat General Availability Repository</name>
					<url>http://10.1.2.1:8081/repository/red-hat-ga/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
				<pluginRepository>
				<id>maven.central</id>
					<name>Maven Central Repository</name>
					<url>http://10.1.2.1:8081/repository/maven-central/</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
	
				<pluginRepository>
					<id>fusesource.m2</id>
					<name>FuseSource Community Release Repository</name>
					<url>https://repo.fusesource.com/nexus/content/groups/public</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
				<pluginRepository>
					<id>fusesource.ea</id>
					<name>FuseSource Community Early Access Release Repository</name>
					<url>https://repo.fusesource.com/nexus/content/groups/ea</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
				<pluginRepository>
					<id>redhat.ga</id>
					<name>Red Hat General Availability Repository</name>
					<url>https://maven.repository.redhat.com/ga</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>never</updatePolicy>
					</releases>
				</pluginRepository>
				-->
			</pluginRepositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>build.repos</activeProfile>
	</activeProfiles>
</settings>


